<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n</pattern>
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.CleanRollingPolicy">
            <fileNamePattern>logs/application.log</fileNamePattern>
        </rollingPolicy>
    </appender>
    <logger name="com.anderson.ordermanager" level="INFO">
        <appender-ref ref="FILE" />
    </logger>

    <root level="ERROR">
        <appender-ref ref="FILE" />
    </root>
</configuration>
